<ion-header>
  <ion-toolbar>
    <ion-title>
      Luz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
          <ion-label>Configuración</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Luz activada</ion-label>
          <ion-toggle color="primary" slot="end" [(ngModel)]="config.lightActivated" (ionChange)="deactivateLight()" ></ion-toggle>
          <ion-icon class="ion-color-step-50" name="sunny"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Intensidad de luz</ion-label>
          <ion-button (click)="rng.disabled = !rng.disabled;" color="light">{{rng.disabled ? 'edit':'lock'}}</ion-button>
        </ion-item>
        <ion-item>
            <ion-range #rng
              min="100" 
              max="255" 
              step="5" 
              snaps="true" 
              disabled="true"
              pin="true" 
              color="secondary"
              [(ngModel)]="config.lightAnticipation"
              (ionChange)="lightAnticipation()">
              <ion-label slot="start">bajo</ion-label>
              <ion-label slot="end">alto</ion-label>
            </ion-range>
          </ion-item>
      
      
      </ion-list>
      <ion-label>{{bleService.statusMessage}}</ion-label>
</ion-content>
