<ion-header>
  <ion-toolbar>
    <ion-title>
      Conexión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-label *ngIf="bleService.scanning">
    scanning...
  </ion-label>
  <ion-list>
    <ion-item button detail (click)="deviceSelected(i)"  *ngFor="let device of bleService.devices; let i = index;">
      <ion-label >
        <h1>{{device.name || 'Unnamed'}}</h1>
        <p>{{device.id}}</p>
      </ion-label>
    </ion-item>
    <ion-item button detail (click)="deviceSelected(34)" >
      <ion-label>
        <h1>Hello world</h1>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="bleService.scan()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
